/* - Universal Selectors */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* - At-rules */

@font-face {
  font-family: 'CormorantGaramond-Regular';
  font-style: normal;
  font-weight: 400;
  font-stretch: 0% 200%;
  src: url('/assets/fonts/CormorantGaramond-Regular.woff2') format('woff2');
  src: url('/assets/fonts/CormorantGaramond-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'CormorantGaramond-Italic';
  font-style: italic;
  font-weight: 400;
  font-stretch: 0% 200%;
  src: url('/assets/fonts/CormorantGaramond-Italic.woff2') format('woff2');
  src: url('/assets/fonts/CormorantGaramond-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'CormorantGaramond-Bold';
  font-style: normal;
  font-weight: 700;
  font-stretch: 0% 200%;
  src: url('/assets/fonts/CormorantGaramond-Bold') format('woff2');
  src: url('/assets/fonts/CormorantGaramond-Bold.ttf') format('truetype');
}

/* - Global Variables */

:root {
  --global--background--Color: #e9e9e0;
  --global--border--Color: #333;
  --global--outline--Color: #333;
}

/* - IDs */

#heading {
  p {
    font-size: clamp(3.5rem, 4.5rem, 5.5rem);
    &::first-letter,
    b {
      font-size: clamp(5rem, 7rem, 9rem);
    }
  }
}

#header {
  width: 100%;
  padding: 0.5rem;
  border-top: 0.5rem double var(--global--border--Color);
  border-bottom: 0.5rem double var(--global--border--Color);
  font-size: clamp(1rem, 2rem, 3rem);
  display: flex;
  justify-content: space-evenly;
}

/* - Classes */

.font--regular {
  font-family: CormorantGaramond-Regular;
}

.font--italic {
  font-family: CormorantGaramond-Italic;
}

.font--bold {
  font-family: CormorantGaramond-Bold;
}

.capital-text {
  text-transform: capitalize;
}

.to-upper-case {
  text-transform: uppercase;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* - Type Selectors */

html {
  font-size: 62.5%;
  background-color: var(--global--background--Color);

  body {
    margin: 0 3%;

    header {
      margin-bottom: clamp(1rem, 2rem, 3rem);
      gap: clamp(1rem, 2rem, 3rem);
    }

    main {
      display: flex;
      gap: clamp(1rem, 2rem, 3rem);

      aside {
        gap: clamp(1rem, 2rem, 3rem);
      }
    }
  }
}
